body{
	background-color: beige;
}
button{
	margin-top: 9%;
	background-color: rgb(226, 210, 194);
}
.pequeño{
	text-align: center;
}
.imagen{
	width: 30px;
	border-radius: 15px;
}
.nav-wrapper{
	margin-top: 1%;
}
a{
	margin-top: 2%;
}
.nav-wrapper{
	text-align: center;
}